

/* For width smaller than 400px: */
body {
  background-image: url('w.jpg');
  background-color: rgb(0, 0, 0);
  background-repeat: repeat;

}

/* For width 400px and larger: */
@media only screen and (min-width: 500px) {
  body {
    
    background-image: url('4.jpg'); 
     background-repeat: no-repeat; 
   background-size: contain;
  background-color: rgb(0, 0, 0);
  }
}
nav{
  font-size: 1.3em;
  font-weight: 600;
}

 /* greeting text */
 .special-card {
  
    background-color: rgba(245, 245, 245, 1);
    opacity: .6;
  }

 /* navbarn */
 .ml1 {
   font-family: cursive;
  font-weight: 900;
  font-size: 3.5em;
}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  transform-origin: 0 0;
}

.ml1 .line1 { top: 0; }
.ml1 .line2 { bottom: 0; }

/* amout misc */
/* @media (min-width: 0px) and (max-width: 400px) {
  nav {
    padding-top: 100px;
    
  }
} */

/* progress */
#pc{
  color: #ffffff;
}
.progress-bar {
  
  position: absolute;
  top: 50%;
  height: 3px;
  background: #002cf0;
}
.count {

  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 2.5em;
  margin-top: -1em;
  color: #002cf0;
}
.progress-bar2 {
  position: absolute;
  top: 50%;
  height: 3px;
  background: #002cf0;
}

.count2 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 2.5em;
  margin-top: -1.33em;
  color: #002cf0;
}


@media only screen and (min-width: 500px){
  #pc{
    color: #002cf0;
  }
.progress-bar {
  position: relative;
  top: 50%;
  height: 3px;
  background: #002cf0;
}

.count {
  position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
  font-weight: 100;
  font-size: 2em;
  margin-top: -1.33em;
  color: #002cf0;
}

.progress-bar2 {
  position: relative;
  top: 50%;
  height: 3px;
  background: #002cf0;
}

.count2 {
  position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
  font-weight: 100;
  font-size: 2em;
  margin-top: -1.33em;
  color: #002cf0;
}
}

/* project cards */
.about {
  position: fixed;
  z-index: 10;
  /* bottom: 5px;
  right: 10px; */
  width: 40px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: all 0.2s ease;
  top: 5px;
  left: 5px;
}
.about .bg_links {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  backdrop-filter: blur(5px);
  position: absolute;
}
.about .logo {
  width: 40px;
  height: 40px;
  z-index: 9;
  
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 10px 7px;
  opacity: 0.9;
  transition: all 1s 0.2s ease;
  /* bottom: 0;
  right: 0; */
}
.about .social {
  opacity: 0;
  /* right: 0;
  bottom: 0; */
}
.about .social .icon {
  width: 100%;
  height: 100%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: flex;
  transition: all 0.2s ease, background-color 0.4s ease;
  opacity: 0;
  border-radius: 100%;
}
.about .social.portfolio {
  transition: all 0.8s ease;
}
.about .social.portfolio .icon {
  background-image: url("a2.png");
}
.about .social.dribbble {
  transition: all 0.3s ease;
}
.about .social.dribbble .icon {
  background-image: url("a.png");
}
.about .social.linkedin {
  transition: all 0.8s ease;
}
.about .social.linkedin .icon {
  background-image: url("c.png");
}
.about:hover {
  width: 105px;
  height: 105px;
  transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .logo {
  opacity: 1;
  transition: all 0.6s ease;
}
.about:hover .social {
  opacity: 1;
}
.about:hover .social .icon {
  opacity: 0.9;
}
.about:hover .social:hover {
  background-size: 28px;
}
.about:hover .social:hover .icon {
  background-size: 65%;
  opacity: 1;
}
.about:hover .social.portfolio {
  right: 0;
  bottom: calc(100% - 40px);
  transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.portfolio .icon:hover {
  background-color: #698fb7;
}
.about:hover .social.dribbble {
  bottom: 45%;
  right: 45%;
  transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.dribbble .icon:hover {
  background-color: #002cf0;
}
.about:hover .social.linkedin {
  bottom: 0;
  right: calc(100% - 40px);
  transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.linkedin .icon:hover {
  background-color: #0077b5;
}
.wrapper {
  width: 100vw;
  margin: 0 auto;
  height: 400px;
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
@media screen and (max-width: 767px) {
  .wrapper {
    height: 700px;
  }
}
.content {
  max-width: 1024px;
  width: 100%;
  padding: 0 4%;
  padding-top: 0em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .content {
    padding-top: 0em;
    flex-direction: column;
  }
}
.card-a {
  width: 100%;
  max-width: 350px;
  min-width: 200px;
  height: 350px;
  
  /* chang card colors  */
  background-color: #000000;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}
.icon {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 80px;
  background: linear-gradient(90deg, #2bc459 0%,#002cf0 40%, rgba(0, 0, 0, 0.28) 60%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.card-a .title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0px;
}
.card-a .text {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 200;
  letter-spacing: 0px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}
.card-a:hover {
  height: 270px;
}
.card-a:hover .info {
  height: 90%;
}
.card-a:hover .text {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 140px;
}
.card-a:hover .icon {
  background-position: -120px;
  transition: all 0.3s ease;
}
.card-a:hover .icon i {
  background: linear-gradient(90deg, #63e074, #002cf0);

  -webkit-text-fill-color: transparent;
  opacity: 1;
  transition: all 0.3s ease;
}

/* footer */
a{
  text-decoration:none;
  outline:none !important;
  color: #002cf0;
  }
  
  .border-shape {
  background: #1a17b8 none repeat scroll 0 0;
  color: #fff;
  display: block;
  height: 3px;
  left: 0;
  margin: 20px auto;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;
  width: 80px;
  }
  
  .border-shape::before {
  background: #2f50e2 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  left: 80px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 100px;
  }
  
  .border-shape::after {
  background: #67df77 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  margin: 0 auto;
  position: absolute;
  right: 80px;
  text-align: center;
  top: 1px;
  width: 100px;
  }
  
  /*FOOTER*/
  footer{
  width:100%;
  background-color:#000000;
  color:#fff;
  }
  
  .top_header{
  padding:2rem;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
  }
  
  .top_header section{
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  }
  
  .top_header span{
  padding:0 1rem;
  }
  
  .top_header .fa{
  color:#67df77;
  font-size:35px;
  }
  
  footer .border-shape {
  width: 40%;
  }
  
  footer .border-shape::before {
  width: 100%;
  left:120px;
  }
  
  footer .border-shape::after {
  width: 100%;
  right:120px;
  }
  
  footer .bottom_content section{
  padding:1.5rem 2rem;
  display:flex;
  align-items:center;
  justify-content:Center;
  }
  
  .bottom_content a{
  margin:0 20px;
  color:rgba(255,255,255,0.7);
  transition:0.5s;
  }
  
  .bottom_content a:hover{
  color:rgba(255,255,255,1);
  }
  
  
  .copyright{
  padding:0.8em 0;
  background-color:#1e1e1e;
  text-align:center;
  color:rgba(255,255,255,0.7);
  font-size:12px;
  }
  
  
  
  @media (max-width:820px){
  .top_header{
  padding:1rem;
  display:block;
  }
  
  .top_header section{
  margin:40px 0;
  align-items:left;
  justify-content:left;
  }
  footer .bottom_content section{
  padding:1rem;
  display:block;
  }
  footer .bottom_content section a{
  padding:1rem;
  font-size:12px;
  margin:0 5px;
  display:inline-block;
  }
  }
  

  /* portfolio */
  .container-a{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.container-a .card-b{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition:  0.3s ease-in-out;
}
.container-a .card-b:hover{
    height: 420px;
}
.container-a .card-b .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.container-a .card-b .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}
.container-a .card-b .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition:  0.3s ease-in-out;
}
.container-a .card-b:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
/* card title */

.ml2 {
  font-weight: 600;
  font-size: 1.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

/* startup */
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
/* startup cards */
:root {
  --default-text-color: white;
  --default-border-color: white;
  --hover-background: #63e074, 0px 48px 100px 0px;
  --hover-color: #002cf0;
}


span {
  font-family: "Work Sans", sans-serif;
}

.title-1 {
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  color: white;
}

.job-role {
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: -0.2rem;
  position: relative;
  bottom: 20%;
}

.job-label {
  border: 1px solid transparent;
  border-radius: 1.1rem;
  margin: 2rem;
  padding: 0.5rem;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--default-text-color);
}

.job-title {
  color: var(--default-text-color);
}

.job-description {
  color: rgba(255, 255, 255, 0.3);
}

.location {
  font-weight: 500;
  font-size: 1.2rem;
  font-style: bold;
  color: var(--default-text-color);
  margin: 1rem;
}

.card-container {
  border: 1px solid var(--default-border-color);
  border-radius: 1.1rem;
  max-width: 350px;
  height: 22rem;
  margin: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: 300ms linear all;
}

.card-container:hover,
.card-container:focus,
.card-container:active {
  background-color: #00115f;
  border-color:  #000e4d;
  box-shadow: #63e074 0px 48px 100px 0px;
}

.card-2 {
  background-color: crimson;
  border-color: crimson;
  box-shadow: rgba(220, 20, 60, 0.699) 0px 48px 100px 0px;
}

.showcase {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 710px) {
  .showcase {
    flex-direction: column;
  }
}
